﻿body {
}

.container {
}

header {
    border-bottom: solid 2px black;
    padding-top: 15px;
}

h1 {
    margin: 5px 0;
    font-size: 30px;
}

#nav-main {
    margin-top: 15px;
}

#search {
    margin-top: 13px;
    text-align:  right;
}

#search-btn {
    margin-right: -5px;
    color: black;
    background-color: white;
    border: solid 1px black;
    border-right: none;
    border-radius: 12px 0 0 12px;
    height: 24px;
}

#search-text {
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 12px 12px 0;
    height: 24px;
}

a {
    color: #00b5ad;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}
nav a {
    border-right: solid 2px black;
    padding: 0 10px;
    text-decoration:underline;
}

nav .last {
    border-right: none;
}

footer {
    border-top: solid 2px black;
    padding-top: 5px;
}

#copyright {
}


#search-btn {
    margin-right: -5px;
    color: black;
    background-color: white;
    border: solid 1px black;
    border-right: none;
    border-radius: 10px 0 0 10px;
    height: 24px;
}

#search-text {
    border: solid 1px black;
    border-left: none;
    border-radius: 0px 12px 12px 0;
    height: 24px;
}


.content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.placeholder {
    width: 100%;
    margin-bottom: 10px;
    border: solid 2px black;
    background-color: grey;
}

#login-btn {
    text-align: right;
}

.my-btn {
    text-align: left;
    width: 125px;
    height: 35px;
    margin-bottom: 10px;
    margin-right: 3px;
    font-size: 110%;
    box-shadow: 3px 3px black;
    border: solid 2px black;
}

.sidebar {
    padding-top: 49px;
}


.sidebar fieldset {
    border: solid 2px black;
    margin: 2px -10px 0px 0px;
    padding: 14px 12px 14px;
}

.sidebar legend {
    margin-bottom: 0px;
    border: none;
    width: auto;
    font-size: 16px;
    padding: 2px 5px 2px 5px;
}

.sidebar input {
    margin: 5px auto;
    border: solid 2px black;
}

.sidebar select {
    font-size: 110%;
    border: solid 2px black;
    width: 100%;
}


ul.nav-tabs {
    margin-left: 20px;
    border: none;
    margin-bottom: -1px;
}

.nav-tabs > li {
    border: solid 2px black;
    margin-left: 2px;
}

.nav-tabs > li.active {
    border-bottom-color: white;
    border-bottom-width: 3px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: black;
    background-color: transparent;
    border: none;
}

.tab-content {
    border: solid 2px black;
    padding: 7px;
}


.mealthumbs div {
    text-align: center;
}

.mealthumbs h4 {
    margin-bottom: 2px;
    margin-top: 0;
}

.mealthumbs .col-md-3 {
    margin-bottom: 10px;
}

